.banner {
  height: 100vh;
  padding-top: 20px;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  background-image: image-url("ogame5.jpg");
}

.banner-inner {
  margin-top: -50px;
}

h1 {
  color: white;
  margin-top: 230px;
}

a {
  color: red;
  margin-top: 350px;
  font-size: 30px;
}
